@import url("../gruvbox-colors.css");

* {
  border-width: 0;
	border-radius: 0;
	border-style: solid;
	color: @fg1;
  transition: all 0.2s ease-in-out;
  min-height: 0;
	border-color: @fg1;
  margin: 0;
  padding:0;
}

tooltip,
.modules-right,
.modules-center,
.modules-left,
window#waybar {
	background-color: @bg;
}

window#waybar.empty #window {
  background-color: transparent;
	color: transparent;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0px;
}

#tray {
	padding-right: 0.6em;
	padding-left: 0.6em;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#window {
	padding-right:0.6em;
	padding-left:0.6em;
}

#battery,
#cpu,
#memory,
#temperature,
#wireplumber,
#clock,
#custom-shutdown,
#custom-updates,
#custom-notification,
#custom-hyprpicker,
#disk,
#network,
#custom-gpu,
#mpris,
#window,
#custom
#custom-shutdown,
#custom-kill,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-updates,
#custom-wallpaper,
#backlight,
#custom-exit {
  background-color: @bg;
}

#custom-shutdown:hover,
#custom-updates:hover,
#custom-kill:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-updates:hover,
#custom-hyprpicker:hover,
#custom-exit:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#wireplumber:hover,
#clock:hover,
#window:hover,
#custom-shutdown:hover,
#custom-updates:hover,
#custom-notification:hover,
#custom-wallpaper:hover,
#disk:hover,
#network:hover,
#custom-gpu:hover,
#mpris:hover,
#backlight:hover {
  background-color: @bg1;
}

#tray,
#workspaces {
	background-color: @bg2;
}

#tray:hover,
#workspaces:hover {
  background-color: @bg3;
}

#workspaces button.active label,
#custom-notification,
#custom-suspend,
#battery,
#custom-wallpaper {
	color: @aqua;
}

#wireplumber.muted,
#temperature.critical,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#battery.critical,
#custom-kill {
	color: @red;
}

#custom-shutdown,
#mpris {
	color: @green;
}

#cpu,
#wireplumber,
#custom-reboot,
#custom-updates.updates-available,
#battery.warning,
#network {
	color: @yellow;
}

#clock,
#custom-exit,
#custom-gpu {
	color: @orange;
}

#memory,
#custom-lock,
#custom-hyprpicker,
#backlight {
	color: @purple;
}

#temperature,
#custom-updates {
	color: @blue;
}

#disk {
	color: @gray;
}

#workspaces button:hover {
	color: @fg1;
}
