@import url("../gruvbox-colors.css");

* {
  border-width: 0;
	border-radius: 0;
	border-style: solid;
	color: @fg1;
  transition: all 0.2s ease-in-out;
  min-height: 0;
	border-color: @fg1;
  margin: 0;
  padding:0;
}

tooltip,
.modules-right,
.modules-center,
.modules-left,
window#waybar {
	background-color: @bg;
}

window#waybar.empty #window {
  background-color: transparent;
	color: transparent;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0px;
}

#tray {
	padding-right: 0.6em;
	padding-left: 0.6em;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#window {
	padding-right:0.6em;
	padding-left:0.6em;
}

#battery,
#cpu,
#memory,
#temperature,
#wireplumber,
#clock,
#custom-shutdown,
#custom-updates,
#custom-notification,
#disk,
#network,
#custom-gpu,
#mpris,
#backlight {
  background-color: @bg;
}

#window,
#custom-shutdown,
#custom-kill,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-updates,
#custom-exit {
	background-color: @bg;
}

#tray,
#workspaces {
	background-color: @bg2;
}

#custom-shutdown:hover,
#custom-updates:hover,
#custom-kill:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-updates:hover,
#custom-exit:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#wireplumber:hover,
#clock:hover,
#window:hover,
#custom-shutdown:hover,
#custom-updates:hover,
#custom-notification:hover,
#disk:hover,
#network:hover,
#custom-gpu:hover,
#mpris:hover,
#backlight:hover {
  background-color: @bg1;
}

#tray:hover,
#workspaces:hover {
  background-color: @bg3;
}

hardware {
  background-color: @green;
}

#workspaces button.active label {
	color: @aqua;
}

#workspaces button:hover {
	color: @fg1;
}

#clock {
	color: @orange;
}

#cpu {
	color: @green;
}

#memory {
	color: @purple;
}

#wireplumber {
	color: @yellow;
}

#wireplumber.muted {
	color: @red;
}

#temperature {
	color: @blue;
}

#temperature.critical {
	color: @red;
}

#custom-notification {
	color: @aqua;
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification {
	color: @red;
}

#custom-shutdown {
	color: @green;
}

#custom-reboot {
	color: @yellow;
}

#custom-suspend {
	color: @aqua;
}

#custom-lock {
	color: @purple;
}

#custom-exit {
	color: @orange;
}

#custom-updates {
	color: @blue;
}

#custom-updates.updates-available {
	color: @yellow;
}

#custom-kill {
	color: @red;
}

#battery {
	color: @aqua;
}

#battery.warning {
	color: @yellow;
}

#battery.critical {
	color: @red;
}

#disk {
  color: @gray;
}

#network {
  color: @yellow;
}

#custom-gpu {
  color: @orange;
}

#mpris {
  color: @green;
}

#backlight {
  color: @blue;
}
