@import url("../gruvbox-colors.css");

* {
  border-width: 0;
	border-radius: 0;
	border-style: solid;
	color: @fg1;
  transition: all 0.2s ease-in-out;
  min-height: 0;
	border-color: @fg1;
}

window#waybar {
	background-color: @bg;
}

window#waybar.empty #window {
  background-color: transparent;
	color: transparent;
	padding: 0;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0px;
}

.modules-right,
.modules-center,
.modules-left {
	background: @bg;
	border-bottom-width: 2px;
}

tooltip {
	background: @bg;
	border-width: 2px;
  opacity: 0.9;
}

#battery:hover, #cpu:hover, #memory:hover,
#temperature:hover, #wireplumber:hover,
#clock:hover, #window:hover,
#custom-power:hover, #custom-updates:hover,
#custom-notification:hover, #disk:hover,
#network:hover, #custom-gpu:hover,
#mpris:hover {
  background-color: @bg1;
}

#window {
	padding-right:0.6em;
	padding-left:0.6em;
}

#custom-power,
#custom-updates,
#tray,
#workspaces {
	background-color: @bg2;
}

#custom-power:hover,
#custom-updates:hover,
#tray:hover,
#workspaces:hover {
  background-color: @bg3;
}

#workspaces button.active label {
	color: @aqua;
}

#workspaces button:hover {
	color: @fg1;
}

#clock {
	color: @orange;
}

#cpu {
	color: @green;
}

#memory {
	color: @purple;
}

#wireplumber {
	color: @yellow;
}

#wireplumber.muted {
	color: @red;
}

#temperature {
	color: @blue;
}

#temperature.critical {
	color: @red;
}

#tray {
	padding-right: 0.6em;
	padding-left: 0.6em;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#custom-notification {
	color: @aqua;
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification {
	color: @red;
}

#custom-power {
	color: @green;
}

#custom-updates {
	color: @blue;
}

#custom-updates.updates-available {
	color: @yellow;
}

#battery {
	color: @green;
}

#battery.warning {
	color: @yellow;
}

#battery.critical {
	color: @red;
}

#disk {
  color: @yellow;
}

#network {
  color: @aqua;
}

#custom-gpu {
  color: @orange;
}

#mpris {
  color: @green;
}

#backlight {
  color: @blue;
}
