* {
  border-width: 0;
	border-radius: 0;
	border-style: solid;
	color: @light_2;
  transition: all 0.2s ease-in-out;
  min-height: 0;
	border-color: @light_2;
  margin: 0;
  padding: 0;
}

window#waybar > box {
  box-shadow: 4px 4px 2px 1px rgba(255, 0, 0, 0.8); /* Red shadow for testing */
}

#workspaces button.active {
  box-shadow: inset 0 -2px @light_2;
}

tooltip,
.modules-right,
.modules-center,
.modules-left,
window#waybar {
	background-color: @dark_1;
}

window#waybar.empty #window {
  background-color: transparent;
	color: transparent;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0px;
}

#tray {
	padding-right: 0.6em;
	padding-left: 0.6em;
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
}

#window {
	padding-right:0.6em;
	padding-left:0.6em;
}

#battery,
#cpu,
#memory,
#temperature,
#wireplumber,
#clock,
#custom-shutdown,
#custom-updates,
#custom-notification,
#custom-hyprpicker,
#disk,
#network,
#custom-gpu,
#mpris,
#window,
#custom
#custom-shutdown,
#custom-kill,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-updates,
#custom-wallpaper,
#custom-hyprsunset,
#backlight,
#custom-exit {
  background-color: @dark_1;
}

#custom-shutdown:hover,
#custom-updates:hover,
#custom-kill:hover,
#custom-reboot:hover,
#custom-lock:hover,
#custom-suspend:hover,
#custom-updates:hover,
#custom-hyprpicker:hover,
#custom-exit:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#wireplumber:hover,
#clock:hover,
#window:hover,
#custom-shutdown:hover,
#custom-updates:hover,
#custom-notification:hover,
#custom-wallpaper:hover,
#disk:hover,
#network:hover,
#custom-gpu:hover,
#custom-hyprsunset:hover,
#mpris:hover,
#backlight:hover {
  background-color: @dark_2;
}

#tray,
#workspaces {
	background-color: @dark_3;
}

#tray:hover,
#workspaces:hover {
  background-color: @dark_4;
}

#custom-notification,
#custom-suspend,
#battery,
#custom-wallpaper {
	color: @aqua_2;
}

#wireplumber.muted,
#temperature.critical,
#workspaces.urgent,
#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#battery.critical,
#custom-kill {
	color: @red_2;
}

#custom-shutdown,
#mpris {
	color: @green_2;
}

#cpu,
#wireplumber,
#custom-hyprsunset,
#custom-updates.updates-available,
#battery.warning,
#network {
	color: @yellow_2;
}

#clock,
#custom-exit,
#custom-gpu {
	color: @orange_2;
}

#memory,
#custom-lock,
#custom-hyprpicker,
#backlight {
	color: @purple_2;
}

#temperature,
#custom-reboot,
#custom-updates {
	color: @blue_2;
}

#disk {
  color: @light_5;
}

#workspaces button:hover {
	color: @light_2;
}
