@define-color blue_1 #4A8B8B;
@define-color blue_2 #4A8B8B;
@define-color blue_3 #4A8B8B;
@define-color blue_4 #4A8B8B;
@define-color blue_5 #4A8B8B;
@define-color green_1 #7f7f00;
@define-color green_2 #7f7f00;
@define-color green_3 #7f7f00;
@define-color green_4 #7f7f00;
@define-color green_5 #7f7f00;
@define-color yellow_1 #e5a72a;
@define-color yellow_2 #e5a72a;
@define-color yellow_3 #e5a72a;
@define-color yellow_4 #e5a72a;
@define-color yellow_5 #e5a72a;
@define-color orange_1 #b14242;
@define-color orange_2 #c4693d;
@define-color orange_3 #d87c4a;
@define-color orange_4 #e49a44;
@define-color orange_5 #c4693d;
@define-color red_1 #c53030;
@define-color red_2 #df6464;
@define-color red_3 #b14242;
@define-color red_4 #b14242;
@define-color red_5 #b14242;
@define-color purple_1 #b16286;
@define-color purple_2 #d3869b;
@define-color purple_3 #d3869b;
@define-color purple_4 #d3869b;
@define-color purple_5 #d3869b;
@define-color brown_1 #322119;
@define-color brown_2 #d65d0e;
@define-color brown_3 #d65d0e;
@define-color brown_4 #d65d0e;
@define-color brown_5 #d65d0e;
@define-color light_1 #d5d5d5;
@define-color light_2 #b4b4b4;
@define-color light_3 #a7a7a7;
@define-color light_4 #949494;
@define-color light_5 #949494;
@define-color dark_1 #121212;
@define-color dark_2 #191919;
@define-color dark_3 #1d1d1d;
@define-color dark_4 #212121;
@define-color dark_5 #323232;
@define-color aqua_1 #689d6a;
@define-color aqua_2 #8ec07c;
@define-color aqua_3 #8ec07c;
@define-color aqua_4 #8ec07c;
@define-color aqua_5 #8ec07c;

@define-color accent_color @blue_1;
@define-color accent_bg_color mix(@blue_1, @dark_1,0.3);
@define-color accent_fg_color @light_1;
@define-color destructive_color @blue_1;
@define-color destructive_bg_color mix(@blue_1, @dark_1,0.3);
@define-color destructive_fg_color @light_1;
@define-color success_color @green_2;
@define-color success_bg_color @green_1;
@define-color success_fg_color @light_1;
@define-color warning_color @yellow_2;
@define-color warning_bg_color @yellow_1;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color error_color @red_2;
@define-color error_bg_color mix(@blue_1, @dark_1,0.3);
@define-color error_fg_color @light_1;
@define-color window_bg_color @dark_1;
@define-color window_fg_color @light_1;
@define-color view_bg_color @dark_1;
@define-color view_fg_color @light_1;
@define-color headerbar_bg_color @dark_1;
@define-color headerbar_fg_color @light_1;
@define-color headerbar_border_color @light_1;
@define-color headerbar_backdrop_color @dark_1;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color sidebar_bg_color @dark_1;
@define-color sidebar_fg_color @light_1;
@define-color sidebar_backdrop_color @dark_1;
@define-color sidebar_border_color @light_1;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color rgba(255, 255, 255, 0.08);
@define-color card_fg_color @light_1;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color @dark_2;
@define-color dialog_fg_color @light_1;
@define-color popover_bg_color @dark_2;
@define-color popover_fg_color @light_1;
@define-color shade_color rgba(0,0,0,0.36);
@define-color scrollbar_outline_color rgba(0,0,0,0.5);

:root {
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;

  --destructive-bg-color: @destructive_bg_color;
  --destructive-fg-color: @destructive_fg_color;

  --success-bg-color: @success_bg_color;
  --success-fg-color: @success_fg_color;

  --warning-bg-color: @warning_bg_color;
  --warning-fg-color: @warning_fg_color;

  --error-bg-color: @error_bg_color;
  --error-fg-color: @error_fg_color;

  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;

  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;

  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --headerbar-shade-color: @headerbar_shade_color;
  --headerbar-darker-shade-color: @headerbar_darker_shade_color;

  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-border-color:   @sidebar_border_color;
  --sidebar-shade-color:    @sidebar_shade_color;

  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;

  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;

  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;

  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;

  --thumbnail-bg-color: @thumbnail_bg_color;
  --thumbnail-fg-color: @thumbnail_fg_color;

  --shade-color: @shade_color;
  --scrollbar-outline-color: @scrollbar_outline_color;
}

tooltip {
  background-color: @dialog_bg_color;
}

tooltip * {
  color: @window_fg_color;
}

button.titlebutton.close,
windowcontrols > button.close > image,
button.titlebutton.close:hover:backdrop,
windowcontrols > button.close:hover:backdrop > image {
  background-color: @red_1;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover > image {
  background-color: @red_1;
}

button.titlebutton.maximize,
windowcontrols > button.maximize > image,
button.titlebutton.maximize:hover:backdrop,
windowcontrols > button.maximize:hover:backdrop > image {
  background-color: @green_1;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover > image {
  background-color: @red_2;
}

button.titlebutton.minimize,
windowcontrols > button.minimize > image,
button.titlebutton.minimize:hover:backdrop,
windowcontrols > button.minimize:hover:backdrop > image {
  background-color: @yellow_1;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover > image {
  background-color: @yellow_2;
}

button.titlebutton.close:backdrop,
button.titlebutton.maximize:backdrop,
button.titlebutton.minimize:backdrop,
windowcontrols > button.close:backdrop > image,
windowcontrols > button.maximize:backdrop > image,
windowcontrols > button.minimize:backdrop > image {
  background-color: @dark_4;
}
