* {
  border-width: 2px;
  border-radius: 0;
  border-color: @light_2;
  background: transparent;
  color: @light_2;
  transition: all 0.2s ease-in-out; /* Add global transition */
}

.blank-window {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: 0.5;
}

.control-center {
  border: 2px solid @light_2;
}

.widget-title {
  color: @orange_2;
}

.control-center,
.control-center .notification-row,
.close-button,
.notification-default-action,
.notification-action,
.notification-row .notification-background .notification,
.widget-title,
.widget-dnd,
.widget-label,
.widget-buttons-grid,
.widget-buttons-grid > flowbox > flowboxchild > button,
.control-center-dnd,
.control-center-clear-all {
  background: rgba(40, 40, 40, 0.9);
}

.control-center .notification-row:focus,
.control-center .notification-row:hover,
.close-button:hover,
.notification-content:hover,
.notification-default-action:hover,
.notification-action:hover,
.notification-row:hover,
.notification-row .notification-background:hover,
.notification-row .notification-background .close-button:hover,
.notification-row .notification-background .notification:hover,
.widget-title:hover,
.widget-dnd:hover,
.widget-label:hover,
.widget-buttons-grid > flowbox > flowboxchild > button:hover,
.control-center-dnd:hover,
.control-center-clear-all:hover {
  background: @dark_2;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @blue_2;
}

.widget-dnd > switch:checked {
  background: @red_2;
}

.widget-dnd > switch slider {
  background: @light_2;
}

.notification-row .notification-background .close-button {
  color: @light_2;
  text-shadow: none;
  padding: 0;
  box-shadow: none;
  min-width: 24px;
  min-height: 24px;
}

.widget-volume {
  color: @light_2;
}
